@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<!--To test Error page, go to localhost:5000/Error-->
<img src="~/lib/BuckingBronco.png" />
<h1 class="text-danger">Error</h1>
<h2>Whoops partner, you just got bucked off by an error!</h2>

